@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap");
main {
	width: 75%;
	grid-template-rows: 50px 1fr;
	-ms-flex-line-pack: unset;
	align-content: unset;
	-webkit-box-pack: unset;
	-ms-flex-pack: unset;
	justify-content: unset;
	overflow: hidden;
}
main .wrapper {
	position: relative;
	display: grid;
	width: 100%;
	height: 90%;
	margin-top: 0;
	top: 0;
	left: 0;
	-webkit-transition: left 350ms, top 350ms;
	transition: left 350ms, top 350ms;
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	height: 65%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	grid-gap: 10px;
	gap: 10px;
	padding: 40px;
	padding-top: 30px;
	border-radius: 12px;
	margin-top: 0;
	background-color: #fff2d7;
	-webkit-box-shadow: 0 0 12px gray;
	box-shadow: 0 0 12px gray;
	-webkit-transition: background-color 300ms, margin-top 500ms, opacity 500ms, -webkit-filter 400ms;
	transition: background-color 300ms, margin-top 500ms, opacity 500ms, -webkit-filter 400ms;
	transition: background-color 300ms, filter 400ms, margin-top 500ms, opacity 500ms;
	transition: background-color 300ms, filter 400ms, margin-top 500ms, opacity 500ms, -webkit-filter 400ms;
}

.question {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	opacity: 1;
}
.question h2 {
	font-size: 32px;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 3%;
	background-color: #bfd8d9;
	-webkit-transition: background-color 300ms;
	transition: background-color 300ms;
}
.question button {
	-webkit-transition: background-color 350ms;
	transition: background-color 350ms;
}
.question.answered {
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.question.answered h2 {
	background-color: transparent;
}
.question.answered button {
	background-color: indianred;
}
.question.answered button.correct {
	background-color: #87dd87;
}

.pill {
	position: relative;
	overflow: hidden;
	text-align: left;
	min-width: 4em;
	background-color: honeydew;
	cursor: pointer;
}
.pill div {
	padding: 5px 10px;
	position: relative;
	z-index: 8;
	background-color: transparent;
	width: 100%;
	height: 100%;
	-webkit-transition: color 250ms;
	transition: color 250ms;
	-webkit-transition-delay: 100ms;
	transition-delay: 100ms;
}
.pill div::before {
	position: absolute;
	-webkit-transition: -webkit-transform 400ms;
	transition: -webkit-transform 400ms;
	transition: transform 400ms;
	transition: transform 400ms, -webkit-transform 400ms;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #655dda;
	z-index: -1;
}
.pill div:hover {
	color: honeydew;
}
.pill div:hover::before {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.choice {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	font-size: 22px;
	border-radius: 7px;
	border: none;
	background-color: #33ccff;
}

.blocker {
	position: absolute;
	display: grid;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
.blocker span {
	display: block;
	font-size: 0;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: bold;
	font-weight: 900;
	color: honeydew;
	-webkit-animation: popUp 300ms forwards cubic-bezier(0.175, 0.885, 0.32, 2.5);
	animation: popUp 300ms forwards cubic-bezier(0.175, 0.885, 0.32, 2.5);
}

.progress-bar {
	display: grid;
	grid-template-rows: 25px 7px;
	grid-gap: 2px;
	gap: 2px;
	position: relative;
	width: 100%;
	height: 7px;
	border-radius: 10px;
	background-color: dodgerblue;
	margin-bottom: 10%;
}
.progress-bar span {
	position: absolute;
	height: 100%;
	border-radius: inherit;
	display: inline-block;
	-webkit-transition: width 300ms;
	transition: width 300ms;
	width: 0;
	background-color: aliceblue;
}

.timer-wrapper {
	position: relative;
	display: grid;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-items: center;
	background-color: darkcyan;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.timer-wrapper::before {
	position: absolute;
	content: "";
	width: 8px;
	height: 15px;
	background-color: inherit;
	top: -8px;
}
.timer-wrapper * {
	grid-column: 1;
	grid-row: 1;
}
.timer-wrapper .pulse {
	position: absolute;
	background-color: #be1335;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.timer-wrapper .timer {
	display: grid;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	background-color: bisque;
	-webkit-box-shadow: inset 0 0 5px black;
	box-shadow: inset 0 0 5px black;
	width: 60px;
	height: 60px;
	font-size: 27px;
	z-index: 5;
}

.score-report {
	text-align: center;
}

.form {
	-webkit-animation: formAnimation 350ms forwards;
	animation: formAnimation 350ms forwards;
}

form {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 5em;
	height: 2.25em;
	width: 50%;
	margin: 10% auto;
	font-size: 24px;
	border-radius: 15px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	z-index: 8;
}
form::after {
	position: absolute;
	content: "Enter your initials to record your score";
	font-size: 20px;
	bottom: -2em;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	-webkit-animation: fadeInUnder 650ms forwards cubic-bezier(0.175, 0.885, 0.32, 1.5);
	animation: fadeInUnder 650ms forwards cubic-bezier(0.175, 0.885, 0.32, 1.5);
	z-index: -1;
}
form input,
form button {
	font-size: inherit;
	border: solid 2px grey;
	height: 100%;
	outline: none;
	z-index: 8;
}
form input {
	background-color: #a09be8;
	border-radius: 15px 0 0 15px;
	border-right: none;
	padding-left: 0.75em;
	-webkit-transition: background-color 300ms;
	transition: background-color 300ms;
	color: honeydew;
}
form input:hover, form input:focus {
	background-color: #655dda;
}
form button {
	border-radius: 0 15px 15px 0;
	border-left: 2px solid rgba(128, 128, 128, 0.3);
	cursor: pointer;
	background-color: aliceblue;
}
form button div {
	display: grid;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@-webkit-keyframes fadeInUnder {
	from {
		opacity: 0;
		bottom: 2em;
	}
	to {
		opacity: 1;
		bottom: -2em;
	}
}
@keyframes fadeInUnder {
	from {
		opacity: 0;
		bottom: 2em;
	}
	to {
		opacity: 1;
		bottom: -2em;
	}
}
@-webkit-keyframes popUp {
	from {
		font-size: 0;
	}
	to {
		font-size: 85px;
	}
}
@keyframes popUp {
	from {
		font-size: 0;
	}
	to {
		font-size: 85px;
	}
}
@-webkit-keyframes formAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes formAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}