.start-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-self: center;
	gap: 5px;
	color: crimson;
	text-decoration: none;
	-webkit-transition: color 300ms;
	transition: color 300ms;
	cursor: pointer;
}

.start-button span {
	color: dodgerblue;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.start-button:hover {
	color: dodgerblue;
}

.background {
	position: absolute;
	width: 0;
	height: 0;
	background-color: var(--backgroundColor);
	border-radius: 50%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
}

body {
	row-gap: 5px;
	background-color: blanchedalmond;
	font-size: 5vmin;
	font-weight: bold;
}

body h1 {
	color: dodgerblue;
}
